<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.brazilo.esperanto.kurso"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="4" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:label="@string/app_name" android:icon="@drawable/icon" android:debuggable="true">
        <activity android:name=".Principa"
                  android:label="@string/app_name" android:theme="@style/Hauxto">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".KioEstas" android:label="@string/app_name" android:theme="@style/Hauxto.Light"></activity>
        <activity android:name=".lecionoj.leciono_01.Leciono1" android:label="@string/app_name" android:theme="@style/Hauxto"></activity>
        <activity android:name=".lecionoj.leciono_01.Alfabeto" android:label="@string/esperanta_alfabeto" android:theme="@style/Hauxto.Light"></activity>
        <activity android:name=".lecionoj.leciono_01.PersonajPronomoj" android:label="@string/personaj_pronomoj" android:theme="@style/Hauxto.Light"></activity>
        <activity android:label="@string/finajxoj" android:name=".lecionoj.leciono_01.Finajxoj" android:theme="@style/Hauxto.Light"></activity>
        <activity android:label="@string/vortareto" android:name=".lecionoj.leciono_01.Vortareto" android:theme="@style/Hauxto.Light"></activity>
        <activity android:label="@string/pluralo" android:name=".lecionoj.leciono_01.Pluralo" android:theme="@style/Hauxto.Light"></activity>
        <activity android:label="@string/posedaj_pronomoj" android:name=".lecionoj.leciono_01.PosedajPronomoj" android:theme="@style/Hauxto.Light"></activity>
        <activity android:name=".lecionoj.leciono_02.Leciono2" android:theme="@style/Hauxto">
        </activity>
        <activity android:name=".lecionoj.leciono_02.Muzikvideo" android:theme="@style/Hauxto.Light"></activity>
        <activity android:theme="@style/Hauxto.Light" android:name=".lecionoj.leciono_01.Prononco"></activity>
        <activity android:theme="@style/Hauxto.Light" android:screenOrientation="landscape" android:name=".lecionoj.leciono_02.Ludilo"></activity>
        <activity android:name=".lecionoj.leciono_01.Auskultado" android:theme="@style/Hauxto.Light"></activity>

    </application>
</manifest>